CONFIG_I2C_CHARDEV=m
CONFIG_BT=y
CONFIG_BT_HCIUART=m
CONFIG_BT_HCIUART_H4=y
CONFIG_BT_HIDP=m
CONFIG_UHID=m
CONFIG_INPUT_EVDEV=y
CONFIG_INPUT_JOYDEV=m
CONFIG_HID_MICROSOFT=m
CONFIG_HIDRAW=y
CONFIG_INPUT_FF_MEMLESS=y
CONFIG_SND_SOC_TLV320AIC3X_I2C=m
# The motor UART must never be a Linux early/normal serial console.
# CONFIG_AW_SERIAL_CONSOLE is not set
# CONFIG_AW_EARLY_PRINTK is not set
# CONFIG_AW_SERIAL_EARLYCON is not set
